/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
 }



/* --------------- End of reset -------------- */ 
/* Colours */ 
:root {
    --main-bg-color: #070724;
    --white: #FFFFFF;
    --dark-grey-blue: #38384F;
    --grey: #838391;
    --aqua-blue: #419EBB;
    --orange-gold: #EDA249;
    --purple: #6f2ed6;
    --red: #D14C32;

  }
/* ------ Fonts ------ */
body, button, h3, h4{
    font-family: "League Spartan";
}
h1, h2, nav p{
    font-family: "Antonio";
}


/*----- Main styles ----- */ 
body{
    background-color: var(--main-bg-color);
    background-image: url(assets/background-stars.svg);
    color: var(--white);
}

/* ---- Navigation ---- */
nav p{
    text-transform: uppercase;
    font-size: 1.5em;
}
nav button{
    background-image: url("assets/icon-hamburger.svg");
    /* background-color: var(--grey); */
    background-size: contain;
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
}

.display-none{
    display: none;
}
.toggle-menu{
    display: block;
}
.half-opacity{
    opacity: .5;
}

.flexbox-container-main-navbar{
    display: flex;
    justify-content: space-between;
    margin: 5%;
}
hr{
    border: .5px solid var(--dark-grey-blue);
}
nav ul li{
    display: flex;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-weight: 500;
    background-image: url(assets/icon-chevron.svg);
    background-repeat: no-repeat;
    background-size: 5px;
    background-position: 100% 50%;
    margin: 5%;
    padding: 5% 0;
    border-bottom: solid var(--dark-grey-blue) .3px;
    /* padding-bottom: 5%; */
}

.planet-circle{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5%;
}
.mercury{
    background-color: #DEF4FC;
}
.venus{
    background-color: #F7CC7F;
}
.earth{
    background-color: #545BFE;
}
.mars{
    background-color: #FF6A45;
}
.jupiter{
    background-color: #ECAD7A;
}
.saturn{
    background-color: #FCCB6B;
}
.uranus{
    background-color: #65F0D5;
}
.neptune{
    background-color: #497EFA;
}

.main-planet-img{
    display: block;
    margin: auto;
}